<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="4000">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner w-100 p-3 h-75 d-inline-block">
        <div class="carousel-item active">
            <a href="https://www.ign.com/articles/lego-horizon-adventures-is-official-and-out-this-holiday-sgf-2024">
                <img class="d-block " src="https://assets-prd.ignimgs.com/2024/06/08/lego-horizon-adventures-banner-1717844723753.jpg?width=1920" alt="First slide">
            </a>
            <div class="carousel-caption d-none d-md-block bg-dark text-white">
                <h4>LEGO Horizon Adventures Is Official, and Out This Holiday - SGF 2024</h4>
            </div>
        </div>
        <div class="carousel-item">
            <a href="https://www.ign.com/articles/new-label-knights-peak-reveals-colorful-platformer-nikoderiko-shares-trailer-for-soulslike-mandragora">
                <img class="d-block w-100" src="https://assets-prd.ignimgs.com/2024/06/07/screendragon-1717780663104.jpg?fit=bounds&width=1280&height=720" alt="Second slide">
            </a>
            <div class="carousel-caption d-none d-md-block bg-dark text-white">
                <h4>New Label Knights Peak Reveals Colorful Platformer Nikoderiko, Shares Trailer for Soulslike Mandragora</h4>
            </div>
        </div>
        <div class="carousel-item">
            <a href="https://www.ign.com/articles/amazon-mmo-new-world-aeternum-confirmed-for-pc-ps5-and-xbox-series-x-and-s">
                <img class="d-block w-100 " src="https://assets-prd.ignimgs.com/2024/06/07/nwa-announce-broodmother-hercyneraid-v1-1717760704416.png?crop=16%3A9&width=888" alt="Third slide">
            </a>
            <div class="carousel-caption d-none d-md-block bg-dark text-white">
                <h4>Amazon MMO New World: Aeternum Confirmed for PC, PS5, and Xbox Series X and S</h4>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<h2>Welcome to the Home Page</h2>
<p>Start to explore by reading gamenews.</p>
