@using TeamManager.Repository.Models
@model IEnumerable<UserListItemModel>

<a href="/user/create" class="btn btn-primary float-end">Create new User</a>

<h1>Users</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Confirmed</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
                <tr>
                    <td>@u.FullName</td>
                    <td>@u.Email</td>
                    <td>@string.Join(", ", u.Roles)</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input confirmed-checkbox" @(u.IsEmailConfirmed ? "checked" : "") type="checkbox">
                        </div>
                    </td>
                    <td>
                        <a href="/user/edit/@u.Id" class="btn btn-warning">Edit</a>
                        <a href="/user/delete/@u.Id" class="btn btn-danger">Remove</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
