<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="ThemeHtmlHead" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <partial name="ThemeSideBar" />
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_navbar.html -->
            <nav class="navbar p-0 fixed-top d-flex flex-row">
                
                <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                    <partial name="ThemeNavbar" />
                </div>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <!-- content-wrapper ends -->
               
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <partial name="ThemeFooter" />
    <partial name="ThemeJs" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>