<footer class="footer">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col text-center">
                <span class="h4 font-weight-bold">Electronic Arts</span>
            </div>
            <div class="col text-center">
                <span class="h4 font-weight-bold">Ubisoft</span>
            </div>
            <div class="col text-center">
                <span class="h4 font-weight-bold">Activision Blizzard</span>
            </div>
            <div class="col text-center">
                <span class="h4 font-weight-bold">Square Enix</span>
            </div>
            <div class="col text-center">
                <span class="h4 font-weight-bold">Nintendo</span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center">
                <span class="h6">&copy; 2024 - TeamManager</span>
            </div>
        </div>
    </div>
</footer>
